.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,500&family=DM+Serif+Display&family=Inter:wght@500&family=Josefin+Sans:wght@300;400;600&family=Karla:wght@400;700&family=Open+Sans:ital,wght@1,300&family=Poppins:wght@400;500;600;700&family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,500&family=DM+Serif+Display&family=Inter:wght@500&family=Josefin+Sans:wght@300;400;600&family=Karla:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,300&family=Poppins:wght@400;500;600;700&family=Raleway:wght@400;700&display=swap');
*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;;
}
body{
    padding: 0;
    margin: 0;
}
:root{

    --color-introbg: hsl(217, 28%, 15%);
    --color-mainbg: hsl(218, 28%, 13%);
    --color-footerbg: hsl(216, 53%, 9%);
    --color-testim: hsl(219, 30%, 18%);
    
    --color-C2A1: hsl(176, 68%, 64%);
    --color-C2A2: hsl(198, 60%, 50%);
    --color-error:  hsl(0, 100%, 63%);

    --color-white: hsl(0, 0%, 100%);

}
h1,h2,h3,h4,h5{
    color: #fff;
    font-family: 'Raleway', sans-serif;

}

h3{
    font-size: 2rem;
}
h2{
    font-weight: 700;
}
p{
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 2rem;
    color: rgba(255, 255, 255, 0.8);
}
a{
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.70);
}
.a:hover{
    color: var(--color-white);
}
/* h2{
    font-size: 2.5rem;
} */

.main{
        padding: 0rem 2rem;    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--color-mainbg);
    }

@media screen and (min-width: 768px) {
    .main{
        padding: 0rem 6rem;
    }
}
img{
    max-width: 100%;
}
.intro{
    max-width: 100vw;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-introbg);
    background-image: url(IMAGEs/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-position:  75% 195% ;
    background-size: auto;
}

/* Nav-bar */
.nav-bar{
    padding: 0 2rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    align-items: center;
    text-align: center;
}
.nav-list{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
}
.nav-list a{
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.788);
}
.nav-list a:hover{
    color: rgba(255, 255, 255);
    text-decoration: underline;
}
@media screen and (min-width: 768px) {
    .nav-bar{
        padding: 0 4rem;
    }

    .nav-list{
        gap: 2rem;
    }
    .intro{
        padding-top: 4rem;
        background-image: url(IMAGEs/bg-curvy-desktop.svg);
        background-position:  center 100% ;
    }
   
}

/* Hero */
.hero-block{
    padding: 3rem 0rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    justify-content: center;
    text-align: center;

}

.hero-block h2{
    color: var(--color-white);
    font-size: 2.2rem;
    font-weight: 700;   
    line-height: 3rem;
}
.hero-block img{
    padding:  0 2rem;
}
.btn{
    cursor: pointer;
    width: 80%;
    padding: 2rem 0;
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff;
    border-radius: 3rem;
    border: 0;
    background: linear-gradient(90deg, var(--color-C2A1) ,  var(--color-C2A2) );
}
.btn:hover{
    background: #8adae4;
}

@media screen and (min-width: 768px) {
    .hero-block{
        padding: 5rem 0rem;
        width: 50vw;
    }
    .hero-block h2{
        font-size: 3.5rem;
        line-height: 5rem;
    }
    .hero-block .btn{
        width: 50%;
    }
    .hero-block p{
        max-width: 52ch;
    }

}
@media screen and (min-width: 1024px) {
    .hero-block .btn{
        width: 40%;
    }
}
@media screen and (min-width: 1439px) {
    .hero-block .btn{
        width: 30%;
    }
}
.showcase-block{
    padding: 10rem 0;
    display: grid;
    grid-column: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    gap: 8rem;
}
.showcase-box{
    text-align: center;
}
.showcase-box h3{
    margin: 4rem 0 1rem;
}

@media screen and (min-width: 768px) {
    .showcase-block{
        width: 60%;
        grid-template: repeat(2, 1fr)/repeat(2, 1fr);
    }
  
}

.stay-block{
    display: flex;
    flex-direction: column;
}

.stay-block p{
    padding: 1rem 0  ;
}
.stay-block h3{
    text-align: left;
    margin-left: 0.4rem;
    padding: 5rem 0 1rem;
}
.stay-block a{
    color: var(--color-C2A1);
    border-bottom: 1px solid var(--color-C2A1);
    padding-bottom: 3px;
    margin-top: 1rem;
}
.icon-arrow{
    fill: #62E0D9;
    vertical-align: middle;
}
.icon-arrow:hover{
    fill: #fff;
}
.stay-block a:hover{
    color: #fff;
    fill: #fff;
    border-color: #fff;
}
@media screen and (min-width: 768px) {
    .stay-block{
        flex-direction: row;
        gap: 4rem;
    
    }
   .stay-block p:last-of-type{
       margin-bottom: 1rem;
   }
    
}
.testimonials-block{
    padding: 20rem 0rem 18rem;
    display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
 
}

.testimonials-block::before{
    width: 5.2rem;
    height: 4rem;
    content: "";
    background: url(images/bg-quotes.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    align-self: flex-start;
}

.testimonials-box{
    margin-bottom: 3rem;
    padding: 4rem 4rem 2rem 2rem;
    background-color: var(--color-testim);
}

.profile{
    display: flex;
    padding-top: 2rem;
    align-items: center;
    letter-spacing: 2px;
}
.profile img{
    width: 3.2rem;
    border-radius: 50%;
    margin-right: 1rem;
}
.profile h5{
    padding-top: 0.5rem;
    color: rgba(255, 255, 255, 0.75);
}


@media screen and (min-width: 768px) {
    .testimonials-block{
        width: 100vw;
        padding: 20rem 6rem 18rem;
        flex-direction: row;
        gap: 4rem;
        background-image: url(images/bg-quotes.png);
        background-repeat: no-repeat;
        background-position: 5rem 16.5rem;
    }
    .testimonials-block::before{
        background: none;
        position: absolute;
    }
    .testimonials-box{
        padding: 4rem 6rem 3rem 4rem;
    }
}
.call2action-container{
    background: linear-gradient(to bottom, rgba(24,31,42,1), rgba(24,31,42,1) 50%, rgba(11,21,35,1), rgba(11,21,35,1)  50%);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.call2action-block{
    width: 90%;
    display: flex;
    padding: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
    background-color: var(--color-introbg);
    border-radius: 10px;
    box-shadow: 3px 5px 10px 1px black;
}
.error-msg{
    color: red;
    padding-left: 3rem;
    align-self: baseline;
}
.form-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.form-box .btn, .form-box input{
    width: 100%;
}
.form-box input{
    margin-bottom: 2rem;
    padding: 2rem 3rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: rgba(119, 119, 119, 0.35);
    border-radius: 3rem;
    border: 0;
    outline: 0;

}
@media screen and (min-width:768px) {
    .call2action-block{
        padding: 4rem 6rem;
        width: 75%;
    }
    .call2action-block h2{
        font-size: 3.5rem ;
    }
    .call2action-block p{
        max-width: 80ch;
    }
    .form-box{
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }
    .form-box input, .form-box button{
        margin: 0;
    }
    .form-box .btn{
        width: 50%;
    }
}

@media screen and (min-width: 1439px){
    .call2action-block{
        width: 60%;
    }
}
/* footerblock */
footer{
    padding: 6rem 2.5rem 2rem;
    width: 100vw;
    background-color: var(--color-footerbg);


}

.logo-footer{
    align-self: center;
    padding-left: 1rem;
    margin-bottom: 4rem;
}
.location , .phone-number, .email-adress{
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}
.location img{
    max-height: 1.6rem;
    margin-top: 6px;
    margin-right: 6px;
}
.contact{
    margin-bottom: 5rem;
}
.footer-list{
margin-bottom: 3rem;
}
.footer-list a{
    color: rgba(255, 255, 255, 0.804);
    display: block;
    margin-bottom: 1.5rem;
}
.footer-list a:hover{
    color: #fff;
}
.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.icon{
    width: 2rem;
    height: 2rem;
    fill: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 3px;
}
.icon:hover{
    fill: var(--color-C2A1);
    border-color: var(--color-C2A1);
}
@media screen and (min-width:768px) {
    footer{
        padding: 6rem 8rem 3rem;
    }
  .footer-block{

      display: flex;
      justify-content: space-between;
      gap: 4rem;

  }
  .footer-block{
    align-self: flex-start;
    width: 100%;
  }
  .location p{
      max-width: 40ch;
  }
  .social-media{
      align-items: baseline;
      justify-content: baseline;
  }
}